<form action="/services" method="POST">
    <p>Name:</p>
    <p><input type=text name=name></p>
    <p>Price:</p>
    <p><input type=number name=price></p>
    <p>Description:</p>
    <p><textarea rows="4" cols="50" name=description></textarea></p>
<p><input type=submit value="I'm Done"> <input type=reset></p>
</form>
<br>
<p><a href="/appointments">View All Appointments</a></p>