<p><a href="appointments/new">Schedule A New Appointment</a></p>

<table>
    <tr>
    <th>Time</th>
    <% @providers.each do |provider| %>
        <th><%= provider.full_name %></th>
    <% end %>
    </tr>
    <% 25.times do |i| %>
        <% if i>= 12 %> 
            <% i += 3 %>
        <% end %>
        <tr>
        <th><%= "#{i/3 + 8}:#{i%3 * 2}0" %></th>
        <% @providers.each do |provider| %>
            <% if provider.has_appointment?(i) %>
                <% clr = "black" %>
            <% else %>
                <% clr = "white" %>
            <% end %>
            <td style="background-color:<%= clr %>">
            </td>
        <% end %>
        </tr>
    <% end %>
</table>