<% if @appointments != [] %>
    <% @appointments.each do |appointment| %>
        <%= @appointment.class %>    
    <% end %>
<% else %>
    You do not have any appointments. Would you like to <a href="/schedule">schedule</a> one?
<% end %>