<form>
    <p></p>
    <p>With Whom:</p>
    <% @providers.each
    <p>Date: <input type=date name=date></p>
    <p>Start Time: <input type=text name=time></p>
    <p>Duration: <input type=number min=20 name=duration></p>
    <p><input type=submit value="Book This Appointment"></p>
</form>