<form action="/appointments" method="POST">
    <p>With Whom:</p>
    <% @providers.each do |provider| %>
        <p><input type=radio name=provider_id value=<%= provider.id %> <% if @provider_id==provider.id %>checked<% end %>><%= "#{provider.full_name}" %></p>
    <% end %>
    <p>Date: <input type=date name=date <% if @date %>value=<%= @date %><% end %>></p>
    <p>Start Time: <input type=text name=time <% if @time %>value=<%= @time %><% end %>></p>
    <p>Duration: <input type=number min=20 step=20 name=duration value=20></p>
    <p><input type=submit value="Book This Appointment"></p>
</form>