<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../css/style.css">
  <title>Scheduler</title>
</head>
  <body class="bg">
    <div class="sidebar">
      <a href="/"> Home </a>
      <a href="/account"> Account </a>
      <a href="/schedule"> Schedule </a>
    </div>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
