<h4>Sign Up</h4>
<form action="/signup" method="POST">
  <p><input type="text" name="first_name" placeholder="First Name">
  <input type="text" name="last_name" placeholder="Last Name"></p>
  <p><input type="text" name="username" placeholder="Username"></p>
  <p><input type="password" name="password1" placeholder="Password">
  <input type="password" name="password2" placeholder="Confirm Password"></p>
  <p><input type="submit" value="Sign Up"></p>
</form>
